# Environment variables
.env
.env-e

# OS
.DS_Store

# yarn v4
node_modules/
.pnp.*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Anvil logs
anvil*.log

# Build artifacts
rainbowbx.xpi
build/
screenshots/
.eslintcache

# IDEs
.idea/**

# Static data
static/data

# e2e test browser
chrome-138/
chrome/

