.env
.env-e
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

.eslintcache

build/
screenshots/

src/core/graphql/__generated__/

# Anvil logs
anvil*.log

rainbowbx.xpi

.idea/**

static/data