name: CI

on: [pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: 
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: "14.20.1"
          cache: 'yarn'
      - name: Install deps via Yarn
        run: yarn setup
      # - name: Check for frozen lockfile
      #   run: yarn check-lockfile
      # - name: Audit CI
      #   run:  yarn audit:ci
      # - name: Lint
      #   run: yarn lint
      # 
      - name: Build the extension with LavaMoat
        run: yarn build
      - uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: 'stable'
      - name: Run e2e
        uses: GabrielBB/xvfb-action@v1
        run:
          yarn test:ci
